{% extends 'base.html' %}
{% block title %} Charts {% endblock title %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 fw-bold fs-3">Charts</div>
    </div>
    <div class="row">
        
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    Tickets Charts {{ timestamp }}
                </div>
                <div class="card-body">
                    <canvas class="charts" id="TicketCharts" ></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
<script>
{% block jquery %}
const myUrlOrigin = window.location.origin
var endpoint = `${myUrlOrigin}/api/v1/tickets/`;
var defaultData = [];
var labels = [];

$.ajax({
    method: "GET",
    url: endpoint,
    success: function(data){
        labels = data.labels
        defaultData = data
        setChart()
        console.log(data)
    },
    error: function(error_data){
        console.log("error")
        console.log(error_data)
    }
})


function setChart(){
    var ctx = document.getElementById('TicketCharts');
    var myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: labels,
            datasets: [{
                label: 'Ticket Charts',
                data: defaultData,
                backgroundColor: [
                    'rgba(255, 99, 132, 0.2)',
                    'rgba(54, 162, 235, 0.2)',
                    'rgba(255, 206, 86, 0.2)',
                    'rgba(75, 192, 192, 0.2)',
                    'rgba(153, 102, 255, 0.2)',
                    'rgba(255, 159, 64, 0.2)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
}

{% endblock jquery%}
</script>
