{% extends 'base.html' %}
{% block content %}
    <table class="table table-responsive">
        <thead>
            <tr>
                <th>#</th>
                <th>Title</th>
                <th>Location</th>
                <th>Date</th>
                <th>Status</th>
            </tr>
        </thead>
        {% for item in complaints %}
        <tr>
            <td>{{ item.id }}</td>
            <td><a href="{% url 'complaintapp:details' item.id %} ">{{ item.details }}</a> </td>
            <td>{{ item.location }}</td>
            <td>{{ item.date }}</td>
            <td>{{ item.status }}</td>
            
        </tr>

        {% endfor %}

    </table>

{% endblock content %}