{% extends 'base.html' %}
{% block content %}
<table class="table table-responsive">
    <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Date</th>
            <th>Status</th>
        </tr>
    </thead>
    {% for task in pending_tasks %}
    <tr>
        <td>{{ task.id }}</td>
        <td> <a href="{% url 'complaintapp:actions' task.id %}">{{ task }}</a> </td>
        <td>{{ task.created_at }}</td>
        <td>{{ task.status }} </td>
    </tr>
    {% endfor %}
</table>
{% endblock content %}